USE [master]
GO
/****** Object:  Database [FamilyAuto]    Script Date: 01-May-16 7:02:40 PM ******/
CREATE DATABASE [FamilyAuto]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FamilyAuto', FILENAME = N'C:\Users\Filip\FamilyAuto.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FamilyAuto_log', FILENAME = N'C:\Users\Filip\FamilyAuto_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FamilyAuto].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FamilyAuto]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 01-May-16 7:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 01-May-16 7:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ArticleTitle] [nvarchar](50) NOT NULL,
	[ArticleDescription] [nvarchar](max) NOT NULL,
	[ArticleType] [int] NOT NULL,
	[DateUploaded] [date] NOT NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 01-May-16 7:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 01-May-16 7:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 01-May-16 7:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 01-May-16 7:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 01-May-16 7:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comission]    Script Date: 01-May-16 7:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comission](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Comission] [int] NOT NULL,
	[StaffId] [int] NOT NULL,
	[VehicleId] [int] NOT NULL,
 CONSTRAINT [PK_Comission] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CustomerInterests]    Script Date: 01-May-16 7:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerInterests](
	[UserId] [nvarchar](128) NOT NULL,
	[FavoriteMake] [nvarchar](100) NULL,
	[FavoriteModel] [nvarchar](100) NULL,
	[PreferredColor] [nvarchar](100) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customers]    Script Date: 01-May-16 7:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nchar](50) NOT NULL,
	[LastName] [nchar](50) NOT NULL,
	[Phone] [nchar](15) NULL,
	[Email] [nchar](100) NOT NULL,
	[Address] [nchar](200) NULL,
	[UserId] [nvarchar](128) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FavoriteVehicle]    Script Date: 01-May-16 7:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteVehicle](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[VehicleId] [int] NOT NULL,
 CONSTRAINT [PK_FavoriteVehicle] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ServiceOrder]    Script Date: 01-May-16 7:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceOrder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Price] [int] NOT NULL,
	[Paid] [bit] NOT NULL,
	[OrderedOnDate] [date] NOT NULL,
	[DueDate] [date] NOT NULL,
	[DeliveredDate] [date] NULL,
	[ServiceId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
 CONSTRAINT [PK_ServiceOrder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SoldVehicles]    Script Date: 01-May-16 7:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SoldVehicles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VehicleId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[DateSold] [date] NOT NULL,
	[DateCreated] [date] NOT NULL,
	[FinalPrice] [int] NOT NULL,
	[StaffId] [int] NULL,
 CONSTRAINT [PK_SoldVehicles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Staff]    Script Date: 01-May-16 7:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[HiredDate] [date] NOT NULL,
	[UserId] [nvarchar](128) NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 01-May-16 7:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](50) NOT NULL,
	[ContactName] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Fax] [nvarchar](20) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[WebAddress] [nvarchar](max) NULL,
 CONSTRAINT [PK_Supplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 01-May-16 7:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Make] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Variant] [nvarchar](50) NOT NULL,
	[Condition] [nvarchar](50) NOT NULL,
	[Type] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [int] NULL,
	[DateUploaded] [datetime] NOT NULL,
	[Sold] [bit] NOT NULL,
 CONSTRAINT [PK_Vehicle] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VehicleEngine]    Script Date: 01-May-16 7:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleEngine](
	[Id] [int] NOT NULL,
	[FuelType] [nvarchar](50) NULL,
	[Transmission] [nvarchar](50) NULL,
	[CubicCapacity] [int] NULL,
	[Power] [int] NULL,
	[FuelConsumption] [nvarchar](50) NULL,
	[EmissionClass] [nvarchar](50) NULL,
	[EmissionSticker] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VehicleFeature]    Script Date: 01-May-16 7:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleFeature](
	[Id] [int] NOT NULL,
	[ExteriorColor] [nvarchar](50) NULL,
	[InteriorColor] [nvarchar](50) NULL,
	[AirConditioning] [bit] NULL,
	[InteriorFeatures] [nvarchar](100) NULL,
	[Security] [nvarchar](100) NULL,
	[Airbags] [bit] NULL,
	[ParkingSensor] [bit] NULL,
	[Sports] [bit] NULL,
	[InteriorMaterial] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VehicleHistory]    Script Date: 01-May-16 7:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleHistory](
	[Id] [int] NOT NULL,
	[Purpose] [nvarchar](50) NULL,
	[NoOfOwners] [int] NULL,
	[HUValidUntil] [date] NULL,
	[Warranty] [bit] NULL,
	[Mileage] [int] NULL,
	[FirstRegistration] [date] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VehiclePictures]    Script Date: 01-May-16 7:02:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehiclePictures](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VehicleID] [int] NOT NULL,
	[Description] [nvarchar](100) NULL,
	[ImageURL] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_VehiclePictures] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Articles] ON 

INSERT [dbo].[Articles] ([Id], [ArticleTitle], [ArticleDescription], [ArticleType], [DateUploaded]) VALUES (3, N'Washington D.C. car owners pay most for repairs', N'This year''s CarMD repair cost survey puts Washington D.C. at the top of the list for the most expensive repairs in the country. On the opposite end, in just a few years, Wyoming has gone from the nation''s most costly to the cheapest.', 0, CAST(N'2016-03-10' AS Date))
INSERT [dbo].[Articles] ([Id], [ArticleTitle], [ArticleDescription], [ArticleType], [DateUploaded]) VALUES (1002, N'Oil Change', N'With regular car oil changes, your vital engine parts stay well-coated and protected against excess heat and friction. When you skip oil changes, the oil begins to thicken, break down, and is consequently less effective, resulting in damage and engine wear.', 1, CAST(N'2016-03-17' AS Date))
SET IDENTITY_INSERT [dbo].[Articles] OFF
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'ee046b53-af8e-4aa3-b285-a4d9fbe71411', N'Admin')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'3727e9c2-34d0-4415-aa5e-e3534a886cfc', N'Content Manager')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'9f93e035-5eff-46e3-be0c-6441b1818a13', N'ee046b53-af8e-4aa3-b285-a4d9fbe71411')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'2f73e578-59cc-4dfa-8a1d-c1320ac3dbc9', N'John@Doe.com', 0, N'AA9CF+esZ8zb019+K6QHi+x7yY9xE9YcoHhONfm1g45QgFPvmSJVnKLovWCekAkoQg==', N'8a9586da-7cd6-47dd-b997-dfdb762cf9e1', NULL, 0, 0, NULL, 1, 0, N'JohnDoe')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'9b9874b5-67d9-4ea0-ab4b-d1dbb8c81699', N'customer@first.com', 0, N'AFhcpbiPnNlc/W1oSh+86UsrgGibciAjgj5hGYOB/1lwyNGTiEfjFZIKFndSVKxpAQ==', N'c5940c31-cb80-4907-b519-0586bfa6bb61', NULL, 0, 0, NULL, 1, 0, N'Customer')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'9f93e035-5eff-46e3-be0c-6441b1818a13', N'realityescape@gmail.com', 0, N'AGjkmivS6Bjq0n8wtOovC1wo/ufU+XRMitojfeRN9aiN7SYiXBeMZwdsNbvJkHyziA==', N'4bc1008f-8bc4-4cd7-bb93-4289bd6ab804', NULL, 0, 0, NULL, 1, 0, N'Filip')
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [Phone], [Email], [Address], [UserId]) VALUES (1, N'First                                             ', N'Customer                                          ', N'777444777      ', N'customer@first.com                                                                                  ', N'Zorz Bize br.18, Skopje                                                                                                                                                                                 ', N'9b9874b5-67d9-4ea0-ab4b-d1dbb8c81699')
INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [Phone], [Email], [Address], [UserId]) VALUES (2, N'Max                                               ', N'Mad                                               ', N'77664477       ', N'mad@max.com                                                                                         ', N'Street 22, Brisbane                                                                                                                                                                                     ', NULL)
INSERT [dbo].[Customers] ([Id], [FirstName], [LastName], [Phone], [Email], [Address], [UserId]) VALUES (1003, N'Judoc                                             ', N'Loke                                              ', N'554556554      ', N'loke@gmail.com                                                                                      ', N'1134 York Road Vincentown, NJ 08088                                                                                                                                                                     ', N'ee4a6c13-4e1a-47ad-8045-9ad0cd16a378')
SET IDENTITY_INSERT [dbo].[Customers] OFF
SET IDENTITY_INSERT [dbo].[FavoriteVehicle] ON 

INSERT [dbo].[FavoriteVehicle] ([Id], [UserId], [VehicleId]) VALUES (2, N'9b9874b5-67d9-4ea0-ab4b-d1dbb8c81699', 5)
SET IDENTITY_INSERT [dbo].[FavoriteVehicle] OFF
SET IDENTITY_INSERT [dbo].[ServiceOrder] ON 

INSERT [dbo].[ServiceOrder] ([Id], [Price], [Paid], [OrderedOnDate], [DueDate], [DeliveredDate], [ServiceId], [CustomerId]) VALUES (1, 20, 1, CAST(N'2016-04-16' AS Date), CAST(N'2016-04-18' AS Date), CAST(N'2016-04-18' AS Date), 1002, 1)
INSERT [dbo].[ServiceOrder] ([Id], [Price], [Paid], [OrderedOnDate], [DueDate], [DeliveredDate], [ServiceId], [CustomerId]) VALUES (2, 55, 1, CAST(N'2016-04-19' AS Date), CAST(N'2016-04-26' AS Date), CAST(N'2016-04-26' AS Date), 3006, 2)
INSERT [dbo].[ServiceOrder] ([Id], [Price], [Paid], [OrderedOnDate], [DueDate], [DeliveredDate], [ServiceId], [CustomerId]) VALUES (3, 180, 1, CAST(N'2016-04-01' AS Date), CAST(N'2016-04-09' AS Date), CAST(N'2016-04-08' AS Date), 3008, 2)
SET IDENTITY_INSERT [dbo].[ServiceOrder] OFF
SET IDENTITY_INSERT [dbo].[SoldVehicles] ON 

INSERT [dbo].[SoldVehicles] ([Id], [VehicleId], [CustomerId], [DateSold], [DateCreated], [FinalPrice], [StaffId]) VALUES (1, 1022, 1, CAST(N'2016-04-13' AS Date), CAST(N'2016-04-01' AS Date), 2000, 2)
INSERT [dbo].[SoldVehicles] ([Id], [VehicleId], [CustomerId], [DateSold], [DateCreated], [FinalPrice], [StaffId]) VALUES (2, 3024, 1, CAST(N'2016-07-14' AS Date), CAST(N'2016-04-17' AS Date), 14400, 2)
INSERT [dbo].[SoldVehicles] ([Id], [VehicleId], [CustomerId], [DateSold], [DateCreated], [FinalPrice], [StaffId]) VALUES (2006, 4023, 2, CAST(N'2016-04-24' AS Date), CAST(N'2016-04-25' AS Date), 1920, 3)
SET IDENTITY_INSERT [dbo].[SoldVehicles] OFF
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([Id], [FirstName], [LastName], [Phone], [Email], [Address], [Position], [BirthDate], [HiredDate], [UserId]) VALUES (2, N'Goran', N'Goranov', N'075773211', N'goranov@familyauto.com', N'Samoilova 12, Skopje', N'Sales Professional', CAST(N'1974-07-02' AS Date), CAST(N'2016-03-01' AS Date), NULL)
INSERT [dbo].[Staff] ([Id], [FirstName], [LastName], [Phone], [Email], [Address], [Position], [BirthDate], [HiredDate], [UserId]) VALUES (3, N'Mick', N'Johnson', N'22448844', N'mj@familyauto.com', N'Kulataku 12, Prague', N'Junior Sales Professional', CAST(N'1990-02-07' AS Date), CAST(N'2016-04-01' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Staff] OFF
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([Id], [CompanyName], [ContactName], [Address], [Phone], [Fax], [Email], [WebAddress]) VALUES (1, N'Joe Komerc', N'Joe Vranec', N'Aminta 3, Skopje', N'123123123', N'123123111', N'joe@komerc.com', N'www.joekomerc.com')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
SET IDENTITY_INSERT [dbo].[Vehicle] ON 

INSERT [dbo].[Vehicle] ([Id], [Make], [Model], [Variant], [Condition], [Type], [Description], [Price], [DateUploaded], [Sold]) VALUES (5, N'BMW', N'Z1', N'GTI', N'Used', 3, N'A very modern and reliable car', 5000, CAST(N'2016-04-30 14:44:02.473' AS DateTime), 0)
INSERT [dbo].[Vehicle] ([Id], [Make], [Model], [Variant], [Condition], [Type], [Description], [Price], [DateUploaded], [Sold]) VALUES (6, N'BMW', N'X1', N'GTI', N'New', 3, N'A very modern and reliable car', 30000, CAST(N'2016-03-23 20:29:54.743' AS DateTime), 0)
INSERT [dbo].[Vehicle] ([Id], [Make], [Model], [Variant], [Condition], [Type], [Description], [Price], [DateUploaded], [Sold]) VALUES (1016, N'Opel', N'Astra', N'GTI', N'Used', 4, N'Der Wagen hat noch bis November 2017 Tüv und hat nur einen Kilometerstand von lediglich 58.000 KM ! Außerdem ist das Auto Scheckheftgepflegt und ist technisch in einem einwandfreien Zustand.', 5000, CAST(N'2016-03-23 20:29:59.317' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Vehicle] OFF
INSERT [dbo].[VehicleEngine] ([Id], [FuelType], [Transmission], [CubicCapacity], [Power], [FuelConsumption], [EmissionClass], [EmissionSticker]) VALUES (5, N'Disel', N'Manual', 500, 100, N'6 per 100 miles', N'C', N'YES')
INSERT [dbo].[VehicleEngine] ([Id], [FuelType], [Transmission], [CubicCapacity], [Power], [FuelConsumption], [EmissionClass], [EmissionSticker]) VALUES (6, N'Gasoline', N'Automatic', 600, 120, N'7 per 100 miles', N'B', N'YES')
INSERT [dbo].[VehicleEngine] ([Id], [FuelType], [Transmission], [CubicCapacity], [Power], [FuelConsumption], [EmissionClass], [EmissionSticker]) VALUES (1016, N'Petrol', N'Manual', 1600, 55, N'7 per 100 miles', N'Euro3', N'4')
INSERT [dbo].[VehicleFeature] ([Id], [ExteriorColor], [InteriorColor], [AirConditioning], [InteriorFeatures], [Security], [Airbags], [ParkingSensor], [Sports], [InteriorMaterial]) VALUES (5, N'White', N'Black', 1, N'Some', N'Alarm', 1, 1, 0, N'Leather')
INSERT [dbo].[VehicleFeature] ([Id], [ExteriorColor], [InteriorColor], [AirConditioning], [InteriorFeatures], [Security], [Airbags], [ParkingSensor], [Sports], [InteriorMaterial]) VALUES (6, N'Violet', N'Orange', 0, N'Some', N'Alarm', 0, 1, 0, N'Leather')
INSERT [dbo].[VehicleFeature] ([Id], [ExteriorColor], [InteriorColor], [AirConditioning], [InteriorFeatures], [Security], [Airbags], [ParkingSensor], [Sports], [InteriorMaterial]) VALUES (1016, N'Blue metallic', N'Green', 0, N'Some', N'ABS', 0, 0, 0, N'Cotton')
INSERT [dbo].[VehicleHistory] ([Id], [Purpose], [NoOfOwners], [HUValidUntil], [Warranty], [Mileage], [FirstRegistration]) VALUES (5, N'Personal', 1, CAST(N'2016-08-13' AS Date), 0, 150000, CAST(N'2013-06-10' AS Date))
INSERT [dbo].[VehicleHistory] ([Id], [Purpose], [NoOfOwners], [HUValidUntil], [Warranty], [Mileage], [FirstRegistration]) VALUES (6, N'Company', 1, CAST(N'2016-09-22' AS Date), 1, 210000, CAST(N'2013-08-29' AS Date))
INSERT [dbo].[VehicleHistory] ([Id], [Purpose], [NoOfOwners], [HUValidUntil], [Warranty], [Mileage], [FirstRegistration]) VALUES (1016, N'Personal', 2, CAST(N'2016-07-06' AS Date), 1, 58000, CAST(N'2009-05-04' AS Date))
SET IDENTITY_INSERT [dbo].[VehiclePictures] ON 

INSERT [dbo].[VehiclePictures] ([Id], [VehicleID], [Description], [ImageURL]) VALUES (1, 5, NULL, N'https://i.kinja-img.com/gawker-media/image/upload/hwstze0cpmpzffhpqevi.png')
INSERT [dbo].[VehiclePictures] ([Id], [VehicleID], [Description], [ImageURL]) VALUES (2, 6, NULL, N'http://icdn3.digitaltrends.com/image/2016-bmw-x1-first-drive-front-angle-970x647-c.jpg')
INSERT [dbo].[VehiclePictures] ([Id], [VehicleID], [Description], [ImageURL]) VALUES (1002, 1016, NULL, N'http://s1.cdn.autoevolution.com/images/news/opel-astra-gets-new-16-sidi-turbo-engine-59530_1.jpg')
SET IDENTITY_INSERT [dbo].[VehiclePictures] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [RoleNameIndex]    Script Date: 01-May-16 7:02:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 01-May-16 7:02:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 01-May-16 7:02:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 01-May-16 7:02:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 01-May-16 7:02:40 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UserNameIndex]    Script Date: 01-May-16 7:02:40 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Comission]  WITH CHECK ADD  CONSTRAINT [FK_Comission_Staff] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comission] CHECK CONSTRAINT [FK_Comission_Staff]
GO
ALTER TABLE [dbo].[Comission]  WITH CHECK ADD  CONSTRAINT [FK_Comission_Vehicle] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicle] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comission] CHECK CONSTRAINT [FK_Comission_Vehicle]
GO
ALTER TABLE [dbo].[CustomerInterests]  WITH CHECK ADD  CONSTRAINT [FK_CustomerInterests_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerInterests] CHECK CONSTRAINT [FK_CustomerInterests_AspNetUsers]
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD  CONSTRAINT [FK_Customers_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Customers] CHECK CONSTRAINT [FK_Customers_AspNetUsers]
GO
ALTER TABLE [dbo].[FavoriteVehicle]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteVehicle_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavoriteVehicle] CHECK CONSTRAINT [FK_FavoriteVehicle_AspNetUsers]
GO
ALTER TABLE [dbo].[FavoriteVehicle]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteVehicle_Vehicle] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicle] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FavoriteVehicle] CHECK CONSTRAINT [FK_FavoriteVehicle_Vehicle]
GO
ALTER TABLE [dbo].[ServiceOrder]  WITH CHECK ADD  CONSTRAINT [FK_ServiceOrder_Articles] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Articles] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceOrder] CHECK CONSTRAINT [FK_ServiceOrder_Articles]
GO
ALTER TABLE [dbo].[ServiceOrder]  WITH CHECK ADD  CONSTRAINT [FK_ServiceOrder_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceOrder] CHECK CONSTRAINT [FK_ServiceOrder_Customers]
GO
ALTER TABLE [dbo].[SoldVehicles]  WITH CHECK ADD  CONSTRAINT [FK_SoldVehicles_Customers] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staff] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SoldVehicles] CHECK CONSTRAINT [FK_SoldVehicles_Customers]
GO
ALTER TABLE [dbo].[SoldVehicles]  WITH CHECK ADD  CONSTRAINT [FK_SoldVehicles_Vehicle] FOREIGN KEY([VehicleId])
REFERENCES [dbo].[Vehicle] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SoldVehicles] CHECK CONSTRAINT [FK_SoldVehicles_Vehicle]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_AspNetUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [FK_Staff_AspNetUsers]
GO
ALTER TABLE [dbo].[VehicleEngine]  WITH CHECK ADD  CONSTRAINT [FK_VehicleEngine_Vehicle] FOREIGN KEY([Id])
REFERENCES [dbo].[Vehicle] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VehicleEngine] CHECK CONSTRAINT [FK_VehicleEngine_Vehicle]
GO
ALTER TABLE [dbo].[VehicleFeature]  WITH CHECK ADD  CONSTRAINT [FK_VehicleFeature_Vehicle] FOREIGN KEY([Id])
REFERENCES [dbo].[Vehicle] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VehicleFeature] CHECK CONSTRAINT [FK_VehicleFeature_Vehicle]
GO
ALTER TABLE [dbo].[VehicleHistory]  WITH CHECK ADD  CONSTRAINT [FK_VehicleHistory_Vehicle] FOREIGN KEY([Id])
REFERENCES [dbo].[Vehicle] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VehicleHistory] CHECK CONSTRAINT [FK_VehicleHistory_Vehicle]
GO
ALTER TABLE [dbo].[VehiclePictures]  WITH CHECK ADD  CONSTRAINT [FK_VehiclePictures_Vehicle] FOREIGN KEY([VehicleID])
REFERENCES [dbo].[Vehicle] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VehiclePictures] CHECK CONSTRAINT [FK_VehiclePictures_Vehicle]
GO
USE [master]
GO
