@{
    ViewBag.Title = "Family Auto";
}

<div class="jumbotron">
    <h1>Family Auto</h1>
    @Html.ActionLink("SHOWROOM", "Showroom", new { Controller = "Vehicle" }, new { @class = "btn btn-primary btn-lg" })
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Showroom</h2>
        <p>
            Explore our vast selection of vehicles and choose the car in which you envision your future.
        </p>
        <p>@Html.ActionLink("SHOWROOM", "Showroom", new {Controller = "Vehicle" }, new {@class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Services</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p>@Html.ActionLink("Services", "Index", new { Controller = "Services" }, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>Have you checked your oil lately? When's the last time you had the axis alligned? Enter right here and we'll be happy to help.</p>
        <p>@Html.ActionLink("Services", "Contact", new { Controller = "Home" }, new { @class = "btn btn-default" })</p>
    </div>
</div>