@model IEnumerable<FamilyAuto.Models.Articles>

@{
    ViewBag.Title = "News";
}

@*<h2>News</h2>*@

<div class="row">
    <div class="col-md-8">
        <h2>NEWS</h2>
        <br />
        @foreach (var n in Model)
        {
            <div class="col-md-8">
                <p><b>Published on: </b> @Html.DisplayFor(item => n.DateUploaded)</p>
                <h4>@Html.DisplayFor(item => n.ArticleTitle)</h4>
                <p>@Html.DisplayFor(item => n.ArticleDescription)</p>
                <hr />
                <br />
            </div>
        }
    </div>
    <div class="col-md-4 imgContainer">
        <img src="~/Images/News/1.jpg" class="img-responsive" style="background-attachment:local" />
        <br />
        <img src="~/Images/News/2.jpg" class="img-responsive" style="background-attachment:local" />
        <br />
        <img src="~/Images/News/3.png" class="img-responsive" style="background-attachment:local" />
        <br />
        <img src="~/Images/News/4.jpg" class="img-responsive" style="background-attachment:local" />
        <br />
    </div>
</div>